<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="well">
      <h3>Désactiver mon compte</h3>
      <hr>
      <h5>Insatisfait(e) de votre notre service I-Tady? Appuyez sur le boutton suivant pour désactiver votre compter.</h5>
      <br>
      <%= button_to 'Supprimer mon compte', registration_path(@user), data: { confirm: "Êtes-vous sure?" }, method: :delete, class: 'btn btn-danger' %>
    </div>
  </div>
</div>