<h1 class="text-center">Modifier ma postulation d'Assistant Réalisateur</h1>

<%= render 'form', assistant_realisateur: @assistant_realisateur %>

<%= link_to 'Show', @assistant_realisateur %> |
<%= link_to 'Back', assistant_realisateurs_path %>
