<h1 class="text-center">New Assistant Realisateur</h1>
<div class="row">
  <div class="col-lg-6 col-lg-offset-3 well">

<%= render 'form', assistant_realisateur: @assistant_realisateur %>

<%= link_to 'Back', assistant_realisateurs_path %>
</div></div>