<h1 class="text-center">I-Tady</h1>
    <br>
    <br>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3 well">

    <h3 class="text-center">A propos</h3>

    <hr>
    <h3 class="text-center">Situation actuel</h3>
    <span>
      Dans plusieurs les grands pays dans le monde les artistes et les passionnés peuvent vivre de 
      leur art contrairement aux pays du tiers-monde. Beaucoup de jeunes ont du talent mais vives 
      est dans l'ombre, soit par manque de considération de son entourage, soit par manque de moyen, 
      soit par manque d'expérience professionnelle, alors qu'ils dominent leur art!
    </span>
    <br>
    <br>

    <h3 class="text-center"> I-Tady </h3>
    <span>
      I-Tady est un site qui veut aider les jeunes talents dans le domaine de l'art à sortir de l'ombre et 
      surtout du chaumage. On pense que tout le monde a le droit d'avoir une chance d'exposer leurs oeuvres devant
       un publique. On devrait tous avoir le droit de pouvoir vivre de sa passion, du job de ces rêves comme on le dit
       si bien. On espère que chacun trouvera chaussure à son pied. Alors exprimez-vous par votre art
        et émerveillez nous!
    </span>
    <br>
    <br>

    <h3 class="text-center">Notre équipe:</h3>
    <span>
      On a conçu ce site à 4. Deux en front-end (Maya et Saphir) et deux en Back-end (Ndriana et Fenohery)
    </span>
    <br>
    <br>

    <a href="https://www.gmail.com">
    <img src="https://png.icons8.com/ios/50/000000/new-post.png"> Contactez-nous
    </a>
    
    <a href="#">
    <img src="https://png.icons8.com/ios/50/000000/phone.png"> Appellez-nous
    </a>

    <a href="https://www.facebook.com">
    <img src="https://png.icons8.com/ios/50/000000/facebook.png"> Suivez-nous
    </a>
  </div>
</div>