

<h1 class="text-center">Régisseurs</h1>

<% @regiseurs.each do |regiseur| %>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Package -->
                    <div class="single-package">
                        
                        <div class="trip-details">
                            <div class="left">
                                <h4>
                                    <%= regiseur.nom_et_prenom %>
                                </h4>
                                
                            </div>
                            <div class="right">
                               
                                    <p><%= regiseur.email %></p>
                            </div>
                            <a href="<%= regiseur_path(regiseur.id) %>" class="btn primary">Plus de détail</a>
                        </div>
                    </div>
                    
                </div>
            <% end %> 

<div class="buttn"><%= link_to 'New Regiseur', new_regiseur_path %></div>
