<div class="row">
<head>

</head> 

  <div class="col-lg-6 col-lg-offset-3 well">

  <h1 class="text-center">Tous les métiers</h1>
    <p> <%= link_to 'Cinématographie', show_listecat_path %> </p>
    <p> <%= link_to 'Développement web et programmation', show_listedev_path %>  </p>

</div>
</div>