<div class="row">




    <div class="col-lg-6 col-lg-offset-3 well">

        <h1> Les postes de Développeur mobile </h1>
    
    
    
            <p> <%= link_to 'Développeur mobile', dev_mobiles_path %></p> 
            <p> <%= link_to 'Référenceur web', referenceur_webs_path %></p> 
            <p> <%= link_to 'Integrateur web', integrateur_webs_path %></p>
            <p> <%= link_to 'Web designer', web_designers_path %></p> 
            



    </div>
</div>
