<div class="row">
<head>

</head> 


  <h1 class="text-center">Tous les métiers</h1>
 <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h2 class="text-center"><%=link_to 'Cinématographie', show_listecat_path%>
         
      </div>
      </h2>
    </div>
  </div>
 
 <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h2 class="text-center"><%=link_to 'Métiers du web', show_listedev_path%>
         
      </div>
      </h2>
    </div>
  </div>

</div>
</div>