<p>Bonjour <%= @resource.email %>!</p>

<p>Quelqu'un a envoyer une requête pour changer votre mot de passe. Si vous voulez effectuer cette opération appuyez sur le lien ci-dessous.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si ce n'était pas vous, ignorez ce mail.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
